/* Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  min-width: 100%;
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Layout */
#root {
  min-width: 100%;
  min-height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Typography */

.title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #565050;
  display: block;
  margin: 2rem auto; 
}

/* Some styles for the container of all SVGs being rendered */

.icons {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  gap: 2rem;
}

/* We can easily style and animate any SVG we render with this 'framework' */
.icon {
  fill: blueviolet;
  width: 4rem;
  height: auto;
  transition: all 200ms ease-in;
}

/* We can also target a specific icon through its id */
.icon#random {
  fill: rgb(83, 71, 255);
}

.icon:hover {
  fill: rgb(192, 13, 162);
  width: 6rem;
}

.icon#random:hover {
  fill: rgb(68, 0, 255);
}

/* Here we're targetting the svg with a path with an id=path3 */
.icon path#path3 {
  fill: rgb(88, 5, 165);
}

.icon:hover path#path3 {
  fill: rgb(151, 6, 127);
}